.search-config-wrapper {
  margin-top: 10px;
}
.config-title {
  cursor: pointer;
}
.slider {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */

  transition-property: all;
  transition-duration: 0.5s;
}

.slider.closed {
  max-height: 0;
}
.config-list {
  list-style-type: none;
  padding-left: 0;
}
.config-item .config-checkbox {
  margin-right: 10px;
}
