.search-results {
  margin-top: 30px;
}
.result-images {
  display: flex;
  flex-wrap: wrap;
}
.column {
  height: 40vh;
  flex-grow: 1;
}
img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 5px;
}
.annotate-link a {
  font-weight: bold;
  border: 1px solid #666;
  padding: 5px 10px;
  color: #666;
}
.annotate-link a:hover {
  color: #666;
  text-decoration: none;
  border: 1px solid #333;
  color: #333;
}
